---
import BaseLayout from "../layouts/baseLayout.astro"
import BlogPost from "../components/blogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = "Aweb7 Blog"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My journey in the crypto space</h2>
    <p>Be ready</p>
    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>