---
import BaseLayout from "../layouts/baseLayout.astro"

const pageTitle = "Aweb7"
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <img src="/aweblogo.png" class="awebLogo" alt="aweb7 logo">
</BaseLayout>

<style>
  .awebLogo{
    width: 100%;
    height: auto;
  }
</style>